# 아이리스 품종 예측

In [8]:
# !pip install tensorflow

## 0. 라이브러리 및 데이터 준비

In [1]:
import pandas as pd
import tensorflow as tf

# 데이터를 준비합니다.
path = "../../data/iris.csv"
df = pd.read_csv(path)
df.head(2)

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa

In [2]:
df_onehot = pd.get_dummies(df)
print(df_onehot.columns)
df_onehot.head(2)

Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종_setosa', '품종_versicolor',
       '품종_virginica'],
      dtype='object')

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0

## 1. x,y 분리

In [3]:
x_train = df_onehot[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
y_train = df_onehot[['품종_setosa', '품종_versicolor', '품종_virginica']]
print(x_train.shape, y_train.shape)

(150, 4) (150, 3)

## 2. 모델 준비

In [4]:
# 모델을 완성합니다
X = tf.keras.Input(shape=[4])
Y = tf.keras.layers.Dense(3, activation='softmax')(X)
model = tf.keras.Model(X, Y)
model.compile(loss="categorical_crossentropy", metrics="accuracy")
# activation이 sigmoid일 때는 loss는 binary_crossentropy

## 3. 모델 학습하기

In [5]:
# 모델을 학습합니다.
model.fit(x_train, y_train, epochs=500, verbose=0)
model.fit(x_train, y_train, epochs=5)

Epoch 1/5
5/5 [==============================] - 0s 3ms/step - loss: 0.2888 - accuracy: 0.9533
Epoch 2/5
5/5 [==============================] - 0s 3ms/step - loss: 0.2888 - accuracy: 0.9600
Epoch 3/5
5/5 [==============================] - 0s 3ms/step - loss: 0.2880 - accuracy: 0.9533
Epoch 4/5
5/5 [==============================] - 0s 4ms/step - loss: 0.2873 - accuracy: 0.9533
Epoch 5/5
5/5 [==============================] - 0s 3ms/step - loss: 0.2869 - accuracy: 0.9533

## 4. 모델 이용하기

In [6]:
# 모델을 이용합니다.
model.predict(x_train[-5:])

1/1 [==============================] - 0s 114ms/step

array([[2.9178814e-04, 1.5548180e-01, 8.4422648e-01],
       [4.7464698e-04, 2.7292404e-01, 7.2660130e-01],
       [7.1532192e-04, 2.9729164e-01, 7.0199299e-01],
       [4.0748389e-04, 2.0411019e-01, 7.9548234e-01],
       [1.2841722e-03, 4.2105123e-01, 5.7766461e-01]], dtype=float32)

In [7]:
y_train[-5:]

     품종_setosa  품종_versicolor  품종_virginica
145          0              0             1
146          0              0             1
147          0              0             1
148          0              0             1
149          0              0             1

In [8]:
model.get_weights()

[array([[ 0.2416915 , -0.05525291, -0.04426765],
        [ 1.533862  , -0.04187414, -0.77076477],
        [-1.4603902 ,  0.63950855,  0.46673533],
        [-1.559109  , -0.53274685,  2.2355373 ]], dtype=float32),
 array([ 0.96995664,  0.6848424 , -0.97882766], dtype=float32)]