# 네이버 증권 사이트에서 주가 데이터 수집

- 네이버 증권 사이트에서 주가 데이터 수집
- 수집할 데이터 : 일별 kospi, kosdaq 주가, 일별 환율(exchange rate) 데이터
- 데이터 수집 절차
    - 웹서비스 분석 : url
    - 서버에 데이터 요청 : request(url) > response : json(str)
    - 서버에서 받은 데이터 파싱(데이터 형태를 변경) : json(str) > list, dict > DataFrame

In [12]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import requests

##### 1. 웹 서비스 분석 : url

In [15]:
page, pagesize = 1, 20
url = f'https://m.stock.naver.com/api/index/KOSPI/price?{pagesize}=10&page={page}'
url

'https://m.stock.naver.com/api/index/KOSPI/price?20=10&page=1'

<!-- ![네이버 코스피 일별 데이터](./img/naver_daily_stock.png) -->

<img src="./img/naver_daily_stock.png" height="30%" width="30%">

#### 2. 서버에 데이터 요청 : request(url) > response : json(str)
- response의 status code가 200이 나오는지 확인
- 403이나 500이 나오면 request가 잘못되거나 web server에서 수집이 안되도록 설정이 된것임
    - header 설정 또는 selenium 사용
- 200이 나오더라도 response 안에 있는 내용을 확인 > 확인하는 방법 : response.text

In [14]:
response = requests.get(url)
response

#### 3. 서버에서 받은 데이터 파싱(데이터 형태를 변경) : json(str) > list, dict > DataFrame

In [17]:
data = response.json()

In [19]:
kospi = pd.DataFrame(data)[['localTradedAt','closePrice']]
kospi

   localTradedAt closePrice
0     2023-08-24   2,532.04
1     2023-08-23   2,505.50
2     2023-08-22   2,515.74
3     2023-08-21   2,508.80
4     2023-08-18   2,504.50
5     2023-08-17   2,519.85
6     2023-08-16   2,525.64
7     2023-08-14   2,570.87
8     2023-08-11   2,591.26
9     2023-08-10   2,601.56
10    2023-08-09   2,605.12
11    2023-08-08   2,573.98
12    2023-08-07   2,580.71
13    2023-08-04   2,602.80
14    2023-08-03   2,605.39
15    2023-08-02   2,616.47
16    2023-08-01   2,667.07
17    2023-07-31   2,632.58
18    2023-07-28   2,608.32
19    2023-07-27   2,603.81

#### 4. 함수로 만들기

1. 웹서비스 분석  : URL
2. request(URL) > response(JSON(str))
3. JSON(str) > list, dict > DataFrame

In [20]:
def stock_crawling(page, pagesize):
    pass