### 네이버 증권 사이트에서 주가 데이터 수집

- 네이버 증권 사이트에서 주가 데이터 수집
- 수집할 데이터 : 일별 kospi, kosdaq 주가, 일별 환율(exchange rate) 데이터
- 데이터 수집 절차
    - 웹서비스 분석 : url
    - 서버에 데이터 요청 : request(url) > response : json(str)
    - 서버에서 받은 데이터 파싱(데이터 형태를 변경) : json(str) > list, dict > DataFrame

In [33]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import requests

##### 1. 웹 서비스 분석 : url

In [34]:
page, pagesize = 1, 20
url = f'https://m.stock.naver.com/api/index/KOSPI/price?pageSize={pagesize}&page={page}'
url

'https://m.stock.naver.com/api/index/KOSPI/price?pageSize=20&page=1'

<!-- ![네이버 코스피 일별 데이터](./img/naver_daily_stock.png) -->

<img src="./img/naver_daily_stock.png" height="30%" width="30%">

#### 2. 서버에 데이터 요청 : request(url) > response : json(str)
- response의 status code가 200이 나오는지 확인
- 403이나 500이 나오면 request가 잘못되거나 web server에서 수집이 안되도록 설정이 된것임
    - header 설정 또는 selenium 사용
- 200이 나오더라도 response 안에 있는 내용을 확인 > 확인하는 방법 : response.text

In [35]:
response = requests.get(url)
response

#### 3. 서버에서 받은 데이터 파싱(데이터 형태를 변경) : json(str) > list, dict > DataFrame

In [36]:
data = response.json()

In [49]:
kospi_df = pd.DataFrame(data)[['localTradedAt','closePrice']]
kospi_df

   localTradedAt closePrice
0     2023-08-24   1,322.30
1     2023-08-23   1,335.00
2     2023-08-22   1,339.50
3     2023-08-21   1,341.00
4     2023-08-18   1,343.00
5     2023-08-17   1,339.50
6     2023-08-16   1,339.50
7     2023-08-14   1,335.50
8     2023-08-11   1,332.00
9     2023-08-10   1,315.00
10    2023-08-09   1,315.50
11    2023-08-08   1,320.00
12    2023-08-07   1,307.50
13    2023-08-04   1,308.00
14    2023-08-03   1,300.00
15    2023-08-02   1,300.00
16    2023-08-01   1,290.50
17    2023-07-31   1,279.00
18    2023-07-28   1,278.00
19    2023-07-27   1,282.50
20    2023-07-26   1,275.00
21    2023-07-25   1,278.50
22    2023-07-24   1,281.00
23    2023-07-21   1,289.00
24    2023-07-20   1,278.00
25    2023-07-19   1,267.00
26    2023-07-18   1,264.00
27    2023-07-17   1,269.00
28    2023-07-14   1,273.00
29    2023-07-13   1,270.00
30    2023-07-12   1,281.00
31    2023-07-11   1,297.00
32    2023-07-10   1,306.50
33    2023-07-07   1,303.00
34    2023-07-06   1,311.50
35    2023-07-05   1,303.00
36    2023-07-04   1,297.00
37    2023-07-03   1,306.00
38    2023-06-30   1,319.00
39    2023-06-29   1,318.00
40    2023-06-28   1,312.00
41    2023-06-27   1,299.00
42    2023-06-26   1,307.50
43    2023-06-23   1,312.00
44    2023-06-22   1,299.00
45    2023-06-21   1,294.00
46    2023-06-20   1,288.00
47    2023-06-19   1,285.00
48    2023-06-16   1,280.00
49    2023-06-15   1,277.00
50    2023-06-14   1,275.00
51    2023-06-13   1,272.00
52    2023-06-12   1,290.00
53    2023-06-09   1,293.50
54    2023-06-08   1,300.00
55    2023-06-07   1,306.00
56    2023-06-05   1,307.00
57    2023-06-02   1,310.00
58    2023-06-01   1,320.00
59    2023-05-31   1,328.00

#### 4. 함수로 만들기

1. 웹서비스 분석  : URL
2. request(URL) > response(JSON(str))
3. JSON(str) > list, dict > DataFrame

In [50]:
def stock_crawling(code='KOSPI', page=1, pagesize=60):
    
    url = f'https://m.stock.naver.com/api/index/{code}/price?pageSize={pagesize}&page={page}'
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data)[['localTradedAt','closePrice']]

In [51]:
kospi_df = stock_crawling()
kospi_df.tail(2)

   localTradedAt closePrice
58    2023-06-01   2,569.17
59    2023-05-31   2,577.12

In [52]:
kosdaq_df = stock_crawling(code='KOSDAQ', page=1, pagesize=60)
kosdaq_df.tail(2)

   localTradedAt closePrice
58    2023-06-01     863.78
59    2023-05-31     856.94

### 원달러 환율 데이터 수집 : 실습

1. 웹서비스 분석  : URL
2. request(URL) > response(JSON(str))
3. JSON(str) > list, dict > DataFrame

In [57]:

page, pagesize = 1, 60

url = f'https://m.stock.naver.com/front-api/v1/marketIndex/prices?page={page}&category=exchange&reutersCode=FX_USDKRW&pageSize={pagesize}'

response = requests.get(url)
data = response.json()['result']

usd_df = pd.DataFrame(data)
usd_df = usd_df[['localTradedAt', 'closePrice']]

In [58]:
usd_df.tail(2)

   localTradedAt closePrice
58    2023-06-01   1,320.00
59    2023-05-31   1,328.00

### 데이터 분석

코스피, 코스닥, 원달러 환율의 상관분석  
  
가설 : 코스피가 높으면 원달러 환율은 낮고, 코스피가 낮으면 원달러 환율은 높다.  
- 가설이 맞을 경우  
    - 환율이 낮으면 달러를 산다.  
    - 환율이 높으면 달러를 팔아 코스피를 산다.

#### 전처리 및 시각화

- 전처리
    - DATE, KOSPI, KOSDAQ, USD 컬럼이 있는 데이터 프레임으로 변경 -> df

In [59]:
df = kospi_df.copy()
df.columns = ['date','kospi'] # kospi 데이터 

df['kosdaq'] = kosdaq_df['closePrice']
df['usd'] = usd_df['closePrice']

df.tail(2)

          date     kospi  kosdaq       usd
58  2023-06-01  2,569.17  863.78  1,320.00
59  2023-05-31  2,577.12  856.94  1,328.00