In [1]:
import zigbang as zb

In [3]:
df = zb.oneroom('망원동')
df.tail(2)

,item_id,sales_type,deposit,rent,size_m2,floor,floor_string,building_floor,title,service_type,manage_cost,address1
57,37804362,월세,300,72,19.83,2,2,3,신축급즉시입주깔끔원룸 주차가능,원룸,7,서울시 마포구 망원동
58,37811722,월세,2000,110,48.00,1,1,3,리모델링후 첫입주 쓰리룸월세 풀옵션,빌라,1,서울시 마포구 망원동