# 기타 웹 크롤링 프로젝트

1. 네이버 연관 검색어 수집

## 라이브러리 불러오기

In [8]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup
from datetime import datetime

## 1.네이버 연관 검색어 수집
- 정적(static) 웹페이지 데이터 수집 
- BeautifulSoup을 이용하여 HTML 문자열 데이터 parsing

In [9]:
def naver_reate_keyowrds(query):
    url = f'https://search.naver.com/search.naver?query={query}' 
    response = requests.get(url) 
    dom = BeautifulSoup(response.text, 'html.parser') 
    elements = dom.select('.lst_related_srch > .item')
    keywords = [element.select_one('.tit').text for element in elements]
    df = pd.DataFrame({'keyowrd':keywords})
    df['query'] = query
    
    now = datetime.now().strftime("%Y-%m-%d %H:%M")
    df['datetime'] = now
    return df

<img src="../img/7.naver_keywords_1.png" height="80%" width="80%">

In [11]:
naver_reate_keyowrds('삼성전자')

        keyowrd query          datetime
0        삼성전자주가  삼성전자  2023-08-25 12:28
1      삼성전자 배당금  삼성전자  2023-08-25 12:28
2       삼성전자서비스  삼성전자  2023-08-25 12:28
3        삼성전자주식  삼성전자  2023-08-25 12:28
4    오늘 삼성전자 주가  삼성전자  2023-08-25 12:28
5  삼성전자 배당금 지급일  삼성전자  2023-08-25 12:28
6         삼성전자몰  삼성전자  2023-08-25 12:28
7      삼성 전자레인지  삼성전자  2023-08-25 12:28
8       삼성전자 채용  삼성전자  2023-08-25 12:28
9     삼성전자 고객센터  삼성전자  2023-08-25 12:28

In [16]:
naver_reate_keyowrds('의자')

     keyowrd query          datetime
0      책상 의자    의자  2023-08-25 12:30
1      공부 의자    의자  2023-08-25 12:30
2      명품 의자    의자  2023-08-25 12:30
3     푹신한 의자    의자  2023-08-25 12:30
4  팔걸이 없는 의자    의자  2023-08-25 12:30
5   허리 편한 의자    의자  2023-08-25 12:30
6     도서관 의자    의자  2023-08-25 12:30
7     튼튼한 의자    의자  2023-08-25 12:30
8     높낮이 의자    의자  2023-08-25 12:30
9     대기용 의자    의자  2023-08-25 12:30

---